.menuItem {
  cursor: pointer;
}

.itemInfo {
  padding: 1em;
  width: 100%;
}
.menuItem:hover {
  background-color: rgb(244, 244, 244);
}

.itemImg {
  width: 20%;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-container p {
  color: grey;
}
