main {
  position: relative;
}

.extra-info {
  display: grid;
  grid-template-columns: 1fr, 1fr, 2fr;
  grid-auto-flow: column;
}

.extra-info > div {
  /* width: 50%; */
  border: 1px solid grey;
  padding: 1em;
  margin: 1em;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.inventory-table {
  display: flex;
  justify-content: center;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 1em;
}

.inventory-table table {
  width: 100%;
  overflow: scroll;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.inventory-table table th {
  padding: 1em;
  border-bottom: 1px solid #ebebeb;
}

.inventory-table table td {
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  padding: 1em;
}

.fab {
  bottom: 2em;
  right: 2em;
  position: fixed;
  border: 1px solid #dc2730;
  background-color: #ff2f3b;
  border-radius: 50%;
  box-shadow: 0 2.6px 2.7px rgba(0, 0, 0, 0.051),
    0 6.5px 6.9px rgba(0, 0, 0, 0.058), 0 13.3px 14.2px rgba(0, 0, 0, 0.058),
    0 27.4px 29.2px rgba(0, 0, 0, 0.058), 0 75px 80px rgba(0, 0, 0, 0.07);
}

.fab button:hover {
  cursor: pointer;
}

.fab button {
  color: white;
  padding: 1em;
  background-color: transparent;
  border: none;
}
