.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  padding: 1em;
  margin: 5em;
}

.rating table {
  width: 60vw;
  text-align: center;
}

.rating table td {
  padding: 1em;
  border-bottom: 1px solid #efefef;
}
