main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80% 20%;
  justify-content: space-evenly;
}

.cart {
  margin-left: 1em;
}

.menu {
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1em;
  column-gap: 1em;
}

.rating > div {
  width: fit-content;
  margin: 1em;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating .number {
  color: gray;
}

.restaurantInfo .address {
  height: fit-content;
  padding-left: 1em;
}

.restaurantInfo .address .name {
  font-size: 2rem;
  font-weight: bold;
}
