.deliveryList {
  display: grid;
  place-content: center;
}

.deliveryList table {
  min-width: 80vw;
  width: 100%;
  padding: 1em;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  border: 1px solid #efefef;
}

.deliveryList table td,
.deliveryList table th {
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid #efefef;
}

.deliveryList table tbody tr:hover {
  cursor: pointer;
  background-color: #efefef;
}
