.dropzone {
  min-height: 250px;
  border: 2px dashed #aeaeae;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.dropzone:hover {
  cursor: pointer;
}

.addItemForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addItemForm > form {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
  padding: 2em;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.addItemForm form {
  width: 500px;
}

.addItemForm form > * {
  margin: 1em;
}

.addItemForm .itemList ul {
  list-style-type: none;
  padding: 0;
}

.addItemForm .itemList ul li {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.uploadPrompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
