.setting {
  display: grid;
  place-content: center;
}

.setting-content {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
}

.setting-content h3 {
  padding: 0.5em;
}

.row {
  padding: 0.5em 1em;
  width: 70vw;
  border-top: 1px solid #d4d4db;
}

.row:not(:last-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row small {
  color: #696969;
}

.changesForm {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
