.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.08),
    0 1px 5px 0 rgba(67, 41, 163, 0.08);
  cursor: pointer;
  padding: 1em;
}

.itemInfo {
  padding: 1em;
}

.menuItem:hover {
  box-shadow: 0 0 5px 1px rgba(67, 41, 163, 0.08),
    0 5px 5px 0 rgba(67, 41, 163, 0.08);
}

.itemImg {
  height: 150px;
  width: 150px;
  max-height: 100%;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-container p {
  color: grey;
}
